<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <l3>Daniel Testing</l3>
</head>
<body>
    <script type='module' src='https://prod-useast-b.online.tableau.com/javascripts/api/tableau.embedding.3.latest.min.js'></script>

    <tableau-viz
        id='tableau-viz'
        src='https://prod-useast-b.online.tableau.com/t/braven/views/Cross-Siteremakev9/KeyMetricsOverTime'
        width='1024' height='1563' toolbar='bottom'
        token= '{{token_aux}}'
        >
    </tableau-viz>
</body>
</html>
