<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <l3>Daniel Testing</l3>
</head>
<body>
    <script type='module' src='https://prod-useast-b.online.tableau.com/javascripts/api/tableau.embedding.3.latest.min.js'></script>

    <tableau-viz
        id='tableau-viz'
        src='https://prod-useast-b.online.tableau.com/t/braven/views/Cross-Siteremakev9/KeyMetricsOverTime'
        width='1024' height='1563' toolbar='bottom'
        token= 'eyJpc3MiOiIxODdkM2NmMS03MjMwLTQ1NTAtYWY0MC1hYTA0MWYwZDQwY2YiLCJraWQiOiI5ODFhNGI1MC1mNGZmLTQyZmQtODk5My01MzI3NzM0MzlhMGYiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiIxODdkM2NmMS03MjMwLTQ1NTAtYWY0MC1hYTA0MWYwZDQwY2YiLCJzdWIiOiJkYW5pZWwucml2YXNAYmVicmF2ZW4ub3JnIiwiYXVkIjoidGFibGVhdSIsImV4cCI6MTY4Njc4MzUyOSwianRpIjoiNTBmMjhmZWQtMjFhZS00MGEwLTg4NTUtZTIzZDk5ZWRkM2ZiIiwic2NwIjpbInRhYmxlYXU6dmlld3M6ZW1iZWQiLCJ0YWJsZWF1Om1ldHJpY3M6ZW1iZWQiXSwiUmVnaW9uIjoiRWFzdCJ9.laMp8LEE1apkQ0RxON4sCh37e2PAk4fS9EuxAclkUTc'
        >
    </tableau-viz>
</body>
</html>
